on post-fs-data
    mkdir /data/sprdinfo 0771 system system
    #chown system system /data/sprdinfo/apr.conf
    #mkdir /data/apr 0777 system system
    #chown system system /data/apr.conf
	
on early-boot	
	service aprd /system/bin/collect_apr
    class main
    user root
    group system radio shell

on property:persist.sys.apr.enabled=1
    start aprd

on property:persist.sys.apr.enabled=0
    stop aprd
	
on property:ro.bootmode=charger
    stop aprd
	
on property:ro.bootmode=cali
    stop aprd
	
on property:ro.bootmode=recovery
    stop aprd
